<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Przykład Tymeleaf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h2>Zarządzanie zadaniami</h2>

<a href="/dodajZadanie">Dodaj kolejne zadanie</a><br/>
<a href="/listaZadan">Lista zadań</a>

<!--<h4>Lista zadań:</h4>-->
<!--<p th:each="task:${taskList}">-->
<!--<td th:text="${task.id}"></td>-->
<!--<td th:text="${task.name}"></td>-->
<!--<td th:text="${task.finished}"></td>-->
<!--</p>-->
</body>
</html>